@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui sapien, maximus at euismod a, condimentum elementum nunc. Proin purus metus, ullamcorper eu neque ac, eleifend mattis augue. Etiam tristique lorem consectetur eros euismod, a pulvinar tortor elementum. Sed pharetra sem quis ante viverra laoreet vitae vel nulla. Sed pharetra sollicitudin sem eget accumsan. Curabitur posuere diam non dui tincidunt, non vulputate tellus fringilla. Donec tincidunt, sem vel ornare maximus, elit sapien venenatis justo, ut tristique purus justo sit amet odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel enim malesuada, dapibus tellus id, mattis mauris..</p>

<style>
	body {
		background: #1a000d;
		color: #ffe6f3;
		text-align: center;
	}
</style>
